
.programs {
    margin-top: 2em;
    position: relative;
    padding: 20px;
} 
.programs h1{
  margin-top: 0;
} 
/* Container for the whole row animation */
.toprow1 {
    position: relative;
    overflow: hidden; /* Hide overflowing content */
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    margin-bottom: 1em;
    /* Add a gradient mask effect */
  mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
  }
/* Class for each individual row */
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 50rem;
    padding-left: 2em;
    gap: 2rem; /* Add some space between the image and the text */
  }
/* Animation for the marquee effect */
@keyframes marquee {
    0% {
      transform: translateX(0%); /* Start in ) */
    }
    100% {
      transform: translateX(-50%); /* Move completely off-screen (to the left) */
    }
  }
.animate-marquee {
    display: flex;
    animation: marquee 15s linear infinite; /* Adjust speed with time (15) */
    white-space: nowrap; /* Ensure no wrapping of content */
  }
/* Pause the animation on hover */
.animate-marquee:hover {
    animation-play-state: paused;
  }
.marquee-container:hover {
    animation-play-state: paused;
  }
/* row elements */
.inside img{
    padding-right: 0.5em;
    height: 1.5rem;
    max-width: none;
}
.inside {
    display: flex;
    flex-direction: row;
    align-items: center;
}
